 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #998485;
active-foreground: #F8F0E5;
normal-background: #141314;
normal-foreground: #F8F0E5;
urgent-background: #E58F6D;
urgent-foreground: #F8F0E5;

alternate-active-background: #C06771;
alternate-active-foreground: #F8F0E5;
alternate-normal-background: #141314;
alternate-normal-foreground: #F8F0E5;
alternate-urgent-background: #141314;
alternate-urgent-foreground: #F8F0E5;

selected-active-background: #E58F6D;
selected-active-foreground: #F8F0E5;
selected-normal-background: #E58F6D;
selected-normal-foreground: #F8F0E5;
selected-urgent-background: #998485;
selected-urgent-foreground: #F8F0E5;

background-color: #141314;
background: rgba(0,0,0,0.7);
foreground: #F8F0E5;
border-color: #998485;

color0: #3F3E3E;
color1: #4E4B4C;
color2: #6B84A3;
color3: #C06771;
color4: #998485;
color5: #E58F6D;
color6: #EAD3B6;
color7: #ECE1D2;
color8: #A59D93;
color9: #4E4B4C;
color10: #6B84A3;
color11: #C06771;
color12: #998485;
color13: #E58F6D;
color14: #EAD3B6;
color15: #ECE1D2;


}

